<main class="form-signin w-100 m-auto text-center">
  <form id="login-form">
    <h1 class="h3 mb-3 fw-normal text-bg-dark">Login</h1>

    <div class="form-floating">
      <input
        type="email"
        class="form-control"
        id="login-email"
        placeholder="name@example.com"
      />
      <label for="login-email">Email address</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="login-password"
        placeholder="Password"
      />
      <label for="login-password">Password</label>
    </div>
    <button class="w-100 mb-3 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p id="error" class="text-danger"></p>
  </form>
  <a
    href="/api/session/github"
    class="w-100 btn btn-lg bg-black text-bg-dark"
    type="submit"
  >
    <div class="d-flex justify-content-center align-items-center gap-3">
      <span>Sign in with Github</span>
      <img
        src="https://avatars.githubusercontent.com/u/1165625?v=4"
        class="rounded-circle ml-3"
        alt="..."
        width="30"
        height="30"
      />
    </div>
  </a>
</main>

<script src="/js/login.js"></script>