<div
  class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center text-bg-dark"
>
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">NodeJS API</h3>
    </div>
  </header>

  <main class="px- d-flex justify-content-center gap-3">
    <p class="lead">
      <a
        href="/login"
        class="btn btn-lg btn-light fw-bold border-white bg-white"
      >Login</a>
    </p>
    <p class="lead">
      <a
        href="/register"
        class="btn btn-lg btn-light fw-bold border-white bg-white"
      >Register</a>
    </p>
  </main>

  <footer class="mt-auto text-white-50">
    <p>Coderhouse</p>
  </footer>
</div>